.btn {
    background-color: aqua;
    border-radius: 10px;
    margin: 0;
    width: 65px;
    height: 65px;
    
}

.number-btn {
    background-color: blueviolet;
}
.operator-btn {
    background-color: beige;
}

.function {
    background-color: red;
    width: 130px;
    height: 65px;
}
#textdisplay {
    width: 252px;
}

body {
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    
}

#main {
    background-color: aquamarine;
    
}

#calcbody {
    background-color: blue;
    display: flex;
    flex-direction: column;
        
}

#keys {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
}